(
  resources: {},
  entities: {
    4294967310: (
      components: {
        "bevy_hierarchy::components::parent::Parent": (4294967311),
        "bevy_render::primitives::Aabb": (
          center: (16.0, 16.0, 0.0),
          half_extents: (16.0, 16.0, 0.0),
        ),
        "bevy_render::sync_world::SyncToRenderWorld": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((4.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, -5.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, -5.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (4.0, 4.0, 1.0),
        ),
        "gambler_bevy::editor::EditorObject": (
          internal_type: 0,
          coordinate: (
            type_char: 'T',
            coord: (0, 0),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
  },
)