(
  resources: {},
  entities: {
    4294967263: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 0,
          coordinate: (
            x: 64,
            y: 0,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 4,
              y: 0,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    4294967264: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 5,
          coordinate: (
            x: 64,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 4,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    4294967265: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 5,
          coordinate: (
            x: 0,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 0,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    4294967266: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 5,
          coordinate: (
            x: -64,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -4,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    4294967267: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 5,
          coordinate: (
            x: -128,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -8,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    4294967268: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 0,
          coordinate: (
            x: -128,
            y: 0,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -8,
              y: 0,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    4294967269: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 0,
          coordinate: (
            x: -64,
            y: 0,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -4,
              y: 0,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    8589934567: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Tile,
          internal_kind: 0,
          coordinate: (
            x: 0,
            y: 0,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 0,
              y: 0,
              format: ZoneSpace,
            ),
          ),
        ),
        "gambler_bevy::editor::tile::Tile": (),
      },
    ),
    77309411291: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: -128,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -8,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
    81604378588: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: -64,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -4,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
    98784247770: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: -192,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -12,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
    304942677990: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: 64,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 4,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
    382252089310: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: 0,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 0,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
    433791696861: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: -192,
            y: 0,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: -12,
              y: 0,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
    493921239000: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: 128,
            y: 0,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 8,
              y: 0,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
    502511173593: (
      components: {
        "gambler_bevy::editor::EditorObject": (
          kind: Collider,
          internal_kind: 0,
          coordinate: (
            x: 128,
            y: -64,
            format: GridSpace,
          ),
          zone_id: (
            kind: Other,
            coord: (
              x: 8,
              y: -4,
              format: ZoneSpace,
            ),
          ),
        ),
      },
    ),
  },
)